<!--Create navbar-->
<header>
    <div class="container">
      <nav>
        <ul>
          <!--routerLink direct the browser to different routed components (just like the href element)-->
          <li><a routerLink="/"><img class="logo" [src]="appLogo" height="50"/></a></li>
          <li><a routerLink="/temperature"><img class="logo" [src]="appMenuTemp" height="50"/></a></li>
          <li><a routerLink="/light-condition"><img class="logo" [src]="appMenuLight" height="50"/></a></li>
          <li><a routerLink="/noise-level"><img class="logo" [src]="appMenuNoise" height="50"/></a></li>
          <li><a routerLink="/contact"><img class="logo" [src]="appMenuContact" height="50"/></a></li>
        </ul>
      </nav>
    </div>
  </header>

  
